.main-content p{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0;
}

.main-content p:last-child{
    margin: 0 0 20px;
}

.question{
    font-weight: bold;
}

.answer{
    visibility: hidden;
}