.main-content p{
    font-family: 'Montserrat', sans-serif;
    margin: 0 0;
}

.main-content p:last-child{
    margin: 0 0 20px;
}

.question{
    font-weight: bold;
}

.answer{
    visibility: hidden;
    opacity: 0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.answer-no-display{
    display: none;
    font-weight: normal;
    background-color: #b9c6c5;
}

.question-to-display:hover + .answer-no-display{
    display: inline;
}